.title {
  font-family: GALACTIC VANGUARDIAN NCV;
}

.button {
  border: 2px solid var(--white);
  color: var(--primary-2);
  font-family: ChubbyChoo;
  font-size: 1rem;
  font-size: 28px;
  line-height: 13px;
  padding: 11px 15px;
  padding: 1rem;
  text-transform: uppercase;

  span {
    vertical-align: text-top;
  }

  &:hover {
    background-color: var(--primary-2);
    color: var(--black);
  }
}

.gameframe {
  position: relative;
  width: 100%;
  height: 500px;
  border: 2px solid var(--primary-2);
  margin-bottom: 2rem;

  .game,
  .logo-wrapper {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
  }

  .logo-wrapper {
    z-index: 1;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }

  .game {
    z-index: 0;
  }
}

.game {
  width: 100%;
  height: 100%;
  border: 1rem solid var(--black);
}

.is-landing-page {
  .game {
    // opacity: 80%;
  }
}

.logo {
  // position: absolute;
  // left: 0;
  // right: 0;
  // top: 0;
  // bottom: 0;
  margin: auto;
  margin-bottom: 1rem;
}

.logo-wrapper {
  position: relative;
  margin: auto;
  width: 400px;
  height: 400px;
}
