<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>Product example for Bootstrap</title>
        <!-- Bootstrap core CSS -->
        <link href="bootstrap/css/bootstrap.css" rel="stylesheet">
        <!-- Custom styles for this template -->
        <link href="product.css" rel="stylesheet">
    </head>
    <body>
        <nav class="site-header sticky-top py-1 navbar navbar-expand-lg navbar-dark">
            <a href="#" target="_pg_blank" class="py-2 align-content-sm-center logo navbar-brand"> <img src="https://static.wixstatic.com/media/5bd9e1_38f860f6b2804b54bc6499ef904d12ec~mv2.png/v1/fill/w_403,h_313,al_c,usm_0.66_1.00_0.01,enc_auto/HS_reverse_portrait.png" class="d-flex text-center" width="75"> </a>
            <button type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler collapsed">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div id="navbarTogglerDemo02" style="" class="navbar-collapse dropdown-menu-right collapse">
                <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                    <li class="nav-item">
                        <a href="#" class="nav-link">My High Scores</a>
                        <div></div>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">Welcome Player</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">Sign Up</a>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="product-device box-shadow d-none d-md-block">
            <h1>All Time Scores</h1>
            <div>
                <ul class="list-group">
                    <li class="d-flex justify-content-between align-items-center">
                        Cras justo odio
                        <span class="badge-pill">5483848</span>
                    </li>
                    <li class="d-flex justify-content-between align-items-center">
                        Cras justo odio
                        <span class="badge-pill">5483848</span>
                    </li>
                </ul>
            </div>
        </div>
        <div class="product-device product-device-2 box-shadow d-none d-lg-block">
            <h1>Your Best</h1>
            <div>
                <ul class="list-group">
                    <li class="d-flex justify-content-between align-items-center">
                        Cras justo odio
                        <span class="badge-pill">5483848</span>
                    </li>
                    <li class="d-flex justify-content-between align-items-center">
                        Cras justo odio
                        <span class="badge-pill">5483848</span>
                    </li>
                </ul>
            </div>
        </div>
        <div class="overflow-hidden text-center position-relative m-lg-5 game">
            <iframe src="../thegames/testgame/index.html"></iframe>
        </div>
        <div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
</div>
        <div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
</div>
        <div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
</div>
        <div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
</div>
        <footer class="container py-5">
            <div class="row">
                <div class="col-md col">
                    <h5>About</h5>
                    <ul class="list-unstyled text-small">
</ul>
                </div>
            </div>
        </footer>
        <!-- Bootstrap core JavaScript
    ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="assets/js/jquery.min.js"></script>
        <script src="assets/js/popper.js"></script>
        <script src="bootstrap/js/bootstrap.min.js"></script>
    </body>
</html>
