body {
    background-color: black;
}

a.py-2.logo {
    padding: 0px;
}

.container {
    max-width: 960px;
}

/* * Custom translucent site header */
.site-header {
    background-color: rgba(0, 0, 0, .85);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
}

.site-header a {
    color: #999;
    transition: ease-in-out color .15s;
    padding: 0px 15px;
}

.site-header a:hover {
    color: #fff;
    text-decoration: none;
}

/* * Dummy devices (replace them with your own or something else entirely!) */
.product-device {
    font-family: Courier New, Courier, Lucida Sans Typewriter, Lucida Typewriter, monospace;
    position: absolute;
    right: 0.5em;
    top: 30%;
    width: 300px;
    height: 70%;
    background-color: black;
    border-width: 5px;
    border-color: rgb(4, 187, 211);
    border-style: solid;
}

.product-device > div {
    position: absolute;
    padding: 10px;
    left: -5px;
    border-style: solid;
    width: 103.5%;
    border-left-color: rgb(4, 187, 211);
    border-left-width: 5px;
    border-right-width: 6px;
    border-right-color: rgb(4, 187, 211);
    border-bottom-width: 5px;
    border-bottom-color: rgb(4, 187, 211);
    min-height: 90%;
    outline: 5px solid #ed1717;
    outline-offset: -11px;
    border-top: 0;
    background-color: black;
    color: #04bbd3;
}

.product-device-2 {
    top: 30%;
    right: auto;
    bottom: 0;
    left: .1em;
    background-color: #e5e5e5;
}

/* * Extra utilities */
.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

.flex-equal > * {
    -ms-flex: 1;
    -webkit-box-flex: 1;
    flex: 1;
}

@media (min-width: 768px) {
    .flex-md-equal > * {
        -ms-flex: 1;
        -webkit-box-flex: 1;
        flex: 1;
    }

    .m-lg-5 {
        margin-right: 20em !important;
    }
}

.overflow-hidden {
    overflow: hidden;
}

@media (min-width: 992px) {
    .m-lg-5 {
        margin: 3em 20em !important;
    }
}

.game {
    border-style: solid;
    border-color: rgb(4, 187, 211);
    border-width: 5px;
    outline: solid rgb(237,23,23) 5px;
    min-height: 675px;
}

.product-device li {
    font-size: 15px;
    font-style: normal;
    font-variant: small-caps;
    font-weight: 700;
    line-height: 23px;
}

.product-device li span {
    font-size: 23px;
}

.product-device h1 {
    color: #7ee000;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}

.product-device.product-device-2 > div {
    background-color: inherit;
    color: black;
}

.product-device.product-device-2  h1 {
    color: #ed1717;
}
