<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>Product example for Bootstrap</title>
        <!-- Bootstrap core CSS -->
        <link href="bootstrap/css/bootstrap.css" rel="stylesheet">
        <!-- Custom styles for this template -->
        <link href="product.css" rel="stylesheet">
    </head>
    <body>
        <nav class="site-header sticky-top py-1">
            <div class="d-flex flex-column flex-md-row align-items-lg-center">
                <div class="col-md-4">
                    <a href="#" class="py-2 align-content-sm-center logo"> <img src="https://static.wixstatic.com/media/5bd9e1_38f860f6b2804b54bc6499ef904d12ec~mv2.png/v1/fill/w_403,h_313,al_c,usm_0.66_1.00_0.01,enc_auto/HS_reverse_portrait.png" width="75" class="d-flex text-center"> </a> 
                </div>
                <div class="col-md-8 text-sm-right">
                    <a href="#" .a>My High Scores</a>
                    <a href="#">Welcome Player</a>
                    <a href="#">Sign Up</a>
                </div>
            </div>
        </nav>
        <div class="product-device box-shadow d-none d-md-block"></div>
        <div class="overflow-hidden p-3 p-md-5 text-center bg-light position-relative m-lg-5">
            <div class="col-md-5 p-lg-5 mx-auto my-5">
                <h1 class="display-4 font-weight-normal">Punny headline</h1>
                <p class="lead font-weight-normal">And an even wittier subheading to boot. Jumpstart your marketing efforts with this example based on Apple's marketing pages.</p>
                <a class="btn btn-outline-secondary" href="#">Coming soon</a>
            </div>
            <div class="product-device product-device-2 box-shadow d-none d-md-block"></div>
        </div>
        <div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
</div>
        <div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
</div>
        <div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
</div>
        <div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
</div>
        <footer class="container py-5">
            <div class="row">
                <div class="col-md col">
                    <h5>About</h5>
                    <ul class="list-unstyled text-small">
</ul>
                </div>
            </div>
        </footer>
        <!-- Bootstrap core JavaScript
    ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="assets/js/jquery.min.js"></script>
        <script src="assets/js/popper.js"></script>
        <script src="bootstrap/js/bootstrap.min.js"></script>
    </body>
</html>
